$logo: url(/img/adelantos.svg);
$logoChico: url(/img/logochico.svg);
$user: url(/img/icons/user.svg);
$typo-primary: 'Open Sans', sans-serif;
$primary-color: #1b1464;
$secundary-color: #666;
$violet: #595ec2;
$white: #fff;
$grey: #3c3c3b;
