$gray: #3a3335;
$orange: #fcaf17;
$white: #fff;
$black: #000;
$text-upper: #FCAF17;
$title-procuct: #231f20;
$price: #d44700;
$category: #5c5c5c;
$logo: url(/img/fizztest.png);
$advertising: url(/img/oferta.png);
