$gray: #3a3335;
$orange: #fcaf17;
$white: #fff;
$black: #000;
$text-upper: #FCAF17;
$title-procuct: #231f20;
$price: #d44700;
$category: #5c5c5c;
$green: #009345;
$logo: url(/img/fizztest.png);
$advertising: url(/img/oferta.png);
$more-orange: url(/img/icons/more-orange.png);
$more-black: url(/img/icons/more-black.png);
$vtex: url(/img/icons/vtex.png);
$fizzmod: url(/img/icons/fizzmod.png);
$adidas-little: url(/img/icons/adidas.png);
$nike-little: url(/img/icons/nike.png);
$reebook-little: url(/img/icons/reebook.png);
$jokey-little: url(/img/icons/jokey.png);
$more: url(/img/icons/more.png);
