body{
  font-family: Helvetica, sans-serif;
}

header{
  height: 105px;
}

ul.header{
  margin: 0 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
li{
  display: inline-block;
  text-decoration: none;
  margin-left: 15px;
}

.uppercase{
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}

.sucursales{
  display: inline-block;
  height: 19px;
  width: 19px;
  margin-right: 6px;
  background-image: url('/img/icons/sucursales.png');
  background-repeat: no-repeat;
}

.comprar{
  display: inline-block;
  height: 19px;
  width: 19px;
  margin-right: 6px;
  background-image: url('/img/icons/comprar.png');
  background-repeat: no-repeat;
}

.fizztest{
  background-image: $logo;
  height: 42px;
  width: 167px;
  background-repeat: no-repeat;
}

.advertising{
  background-image: $advertising;
  background-repeat: no-repeat;
  height: 37px;
  width: 200px;
}

.search{
  width: 500px;
  height: 36px;
}

.form-control{
  height: 36px;
}

.input-group-btn{
  height: 36px;
}

.btn-default{
  height: 36px;
  width: 36px;
  background-color: $orange;
  color: $white;
}

main{
  background-color: $black;
  height: 40px;
  }

.main-menu{
  max-width: 1140px;
}

.left{
  .main-left{
    li.upper{
      text-transform: uppercase;
      color: $text-upper;
      font-size: 15px;
      font-weight: 700;
      padding: 10px;
    }
  }
}

.rigth{
  text-align: right;
  .main-right{
    margin-right: 20px;
    li.upper{
      color: $white;
      font-size: 15px;
      font-weight: 700;
      padding: 10px;
    }
  }
}

.cart{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 6px;
  background-image: url('/img/icons/cart.png');
  background-repeat: no-repeat;
}

section.carrousel{

}

.topper{
  height: 396px;
  width: 996px;
  background-image: url('/img/topper.png');
  background-repeat: no-repeat;
  margin: 0 auto;
}

.brands{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.brand-icon {
  height: 55px;
  width: 55px;
}

.adidas{
  background-image: url('/img/brand/adidas.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.nike{
  background-size: cover;
  background-image: url('/img/brand/nike.png');
  background-repeat: no-repeat;
}

.adidas1{
  background-size: cover;
  background-image: url('/img/brand/adidas1.png');
  background-repeat: no-repeat;
}

.neo{
  background-image: url('/img/brand/neo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.puma{
  background-image: url('/img/brand/puma.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.topper1{
  background-image: url('/img/brand/topper1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.reebook{
  background-image: url('/img/brand/reebook.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.converse{
  background-size: cover;
  background-image: url('/img/brand/converse.png');
  background-repeat: no-repeat;
}

.salomon{
  background-image: url('/img/brand/salomon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.disney{
  background-image: url('/img/brand/disney.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section.catalog{
  max-width: 996px;
  margin: 0 auto;
}

.marginb{
  margin-bottom: 40px;
}

p.italic{
  font-style: italic;
  font-weight: 800;
  color: $title-procuct;
  text-transform: uppercase;
  font-size: 11px;
}

figcaption.title-product{
  width: 185px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: $title-procuct;
  letter-spacing: -0.1rem;
}


.price{
  display: block;
  color: $price;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

p.filter{
  color: $black;
  font-style: normal;
  text-transform: capitalize;
  font-size: 15px;
}

.category{
  text-transform: uppercase;
  display: block;
  color: $category;
  font-size: 11px;
}

.panel-body{
  border: none;
}
