* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  position: relative;
  color: $primary-color;
  font: 100% $typo-primary;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 100px;
  background: url(/img/background.jpg) no-repeat fixed;
  background-size: cover;
}

.container {
  max-width: 1024px;
}

header {
  .layout {
    @media only screen and (min-width: 768px) {
      display: none;
    }
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }
  .logo {
    background-image: $logoChico;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
  }
  nav {
    @media only screen and (max-width: 768px) {
      display: none;
    }
    align-items: baseline;
    display: flex;
    justify-content: space-between;
		height: 64px;
		padding: 1em 0;

    .logo {
      background-image: $logo;
      background-repeat: no-repeat;
      height: 50px;
      width: 280px;
      position: relative;
      top: 10px;
    }

    ul {
      padding: 0 5px;
    }

    .menu-desktop ul li {
      display: inline-block;
      text-decoration: none;
    }

    .menu-b {
      color: $primary-color;
      font-size: 14px;
      padding: 0px 10px;
    }

    .menu-b:hover{
      background-color: $violet;
      color: $white;
      text-decoration: none;
      padding: 10px;
    }

    .solicitud a {
      color: $primary-color;
      font-size: 14px;
      margin-right: 20px;
			text-decoration: underline;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
}

h1 {
  font-weight: 600;
  padding: 5px 0;
}

h2 {
  font-weight: 600;
}

.user{
  display: inline-block;
  background-image: $user;
  background-repeat: nono-repeat;
  height: 12px;
  margin-right: 5px;
  width: 12px;
}

.box {
  background-color: $white;
  border-radius: 20px;
  height: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 60%;

  @media only screen and (max-width: 768px) {
    margin-top: 20px;
    width: 95%;
  }
}

.number {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  @media only screen and (max-width: 768px){
    display: none;
  }

  p {
    color: #666;
    font-size: 24px;
    font-weight: 600;
    margin-top: -6px;
  }
}

.ticket {
  color: $secundary-color;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 0;
  width: 80%;
    .title-answer{
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      font-size: 14px;
    }
}
output{
  margin: 0px;
  font-size: 14px;
}
.underscore {
    border-bottom: 1px solid #eee;
}

.bbottom{
  border-bottom: 3px solid $secundary-color;
  margin: 50px auto;
  width: 150px;
}

.btn-medium {
  background: #595ec2;
  background-image: linear-gradient(to bottom, #595ec2, $primary-color);
  border-radius: 10px;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  height: 10%;
  margin: 30px auto;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 80%;
}

.btn-small {
  background: #595ec2;
  background-image: linear-gradient(to bottom, #595ec2, $primary-color);
  border-radius: 10px;
  color: #fff;
  font-family: arial;
  font-size: 20px;
  height: 10%;
  padding: 10px;
  width: 30%;
}

.pocos-pasos {
  padding-top: 30px;
  background-color: $white;
  .img{
    @media only screen and (max-width: 768px){
      display: none;
      /*opacity: 0.2;
      z-index: -1;
      position: absolute;
      width: 5em;
    */}
  }
}
.title {
  color: $grey;
  margin-top: 30px;
  text-align: center;
}

.paragraph {
  margin-top: 50px;
}

.subtitle {
  color: $primary-color;
  font-size: 20px;
  font-weight: 600;
  margin: 50px 0;
  padding: 10px 0;
}

.definition {
  color: $grey;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

.violet {
  float: right;
  align-items: center;
  background-color: #464081;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 70%;
  text-align: left;
  @media screen and (max-width: 768px) {
    width: 95%;
    height: 80px;
   }
}

.triangle {
  margin-left: -1px;
  width: 0;
  height: 0;
  border-left: 50px solid #fff;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  @media only screen and (max-width: 768px){
    border-left: 10px solid #fff;
    border-left: 100px solid #fff;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
   }
}

.tilde {
  height: 25px;
  width: 32px;
  margin:0 10px;
  @media only screen and (max-width: 768px){
    display: none;
  }
}

.violet-typo {
  border-color: #464081;
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
}

.requirements {
  background-color: $white;
  background-image: url('/img/background-req.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 0;
}

.subtitle-req {
  color: $grey;
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0;
  padding: 30px 0;
  padding-bottom: 50px;
  text-align: center;
}

.center {
  margin: 40px 0;
  text-align: center;
}

.medium {
  color: #464081;
  font-size: 200px;
}

.subtitle-b {
  color: #464081;
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 10px;
}

.ventajas {
  background-color: $white;

  .definition-b {
    color: $grey;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
  }

  .definition-c {
    color: $grey;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 0;
    width: 70%;
  }
}

.email {
  border-radius: 10px;
  display: block;
  border: 1px solid #eee;
  font-size: 20px;
  margin: 30px auto;
  padding: 10px 15px;
  width: 80%;
}

.contact {
  background-image: url(/img/background-cont.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 0;
}

.placeholder{
  height: 150px;
}

.testimony {
  align-items: center;
  background: #1b1464; /* Old Browsers */
  background: linear-gradient(to right, #1b1464, #595ec2); /*Standard*/
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.result {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0px 0px;
  text-align: center;
}

.people {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

footer {
  align-items: center;
  background-color: #1d1d1b;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 25px;

  .logo {
    background-image: url('/img/footer/logo.png');
    background-size: cover;
    height: 80px;
    margin-top: 20px;
    width: 80px;
  }

  .terminos a {
      display: block;
      color: $white;
      font-size: 12px;
      text-align: center;
  }
}
.fixed-theme{
  background-color: #fff;
  transition: background 0.3s linear;
  padding: 0 60px 0;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  .logo{
    height: 40px;
  }
}
